<div class="content">
    <h2>Referencia Rápida</h2>
    <hr>

    <h2>Interaction</h2>
    <p>El canvas puede ser desplazado, ampliado, arrastrado y desplazado.
    </p>

    <img class="invert" src="img/interaction-tutorial.png" alt="interaction tutorial">

    <p>Los archivos de imagen descargados recibirán el nombre de archivo en la directiva <tt>#title</tt> directive.
    </p>

    <p>El editor admite un conjunto de keymappings de <i>Sublime Text's</i> <a href="https://codemirror.net/demo/sublime.html" target="_blank">keymappings</a>.
        Utilice <code>Ctrl-Space</code> para obtener auto sugerencias.
    </p>

    <hr>

    <h2>Ejemplos</h2>
    <p>Para ver ejemplos de la gramática empleada, dirijase a <a target="_blank" href="https://github.com/dads-software-brotherhood/kukulkan-grammar">kukulkan-grammar</a>.</p>

    <hr>

    <h2>Uso</h2>

    <p>Refer <a target="_blank" href="https://github.com/dads-software-brotherhood/kukulkan-grammar">DSL</a> Uso de la gramática de kukulkan-grammar</p>

</div>
<div class="logo-background"></div>
